<app-confirmation-dialog></app-confirmation-dialog>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <div class="float-left">
        <h3>Administrador de productos</h3>
      </div>
      <div class="float-right">
        <button class="btn btn-vg w-20" type="button" title="Nuevo producto" (click)="newProductModal()">
          <i class="fas fa-plus"></i> Nuevo
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <th scope="row">{{producto.id_producto}}</th>
              <td class="enlace-titulo" (click)="verDetalleProducto(producto.nombre_producto)">{{producto.nombre_producto}}</td>
              <td>{{producto.precio}} €</td>
              <td>{{producto.stock}}</td>
              <td>
                <button type="button" class="btn btn-vg" (click)="editProductModal(producto.id_producto)" title="Editar producto"><i class="fas fa-edit"></i> Editar</button>
              </td>
              <td>
                <button *ngIf="producto.stock == 0" type="button" class="btn btn-vg disabled" (click)="deleteDialog(producto.id_producto)" title="Borrar stock"><i class="far fa-trash-alt"></i> Borrar stock</button>
                <button *ngIf="producto.stock != 0" type="button" class="btn btn-vg" (click)="deleteDialog(producto.id_producto)" title="Borrar stock"><i class="far fa-trash-alt"></i> Borrar stock</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-vg float-right mt-3" (click)="volverAdmin()" title="Volver al área de usuario"><i class="far fa-arrow-alt-circle-left"></i> Volver al área de usuario</button>
    </div>
  </div>
</div>
