<div id="modal-content-wrapper">
  <div class="alert alert-success" style="display: none;" role="alert">
    Mensaje de éxito.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="alert alert-danger" style="display: none;" role="alert">
    Mensaje de error.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <header id="modal-header">
      <h3 id="modal-title">{{ modalData.title }}</h3>
  </header>
  <section id="modal-body">
      <p>{{ modalData.description }}</p>
  </section>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <input type="password" matInput formControlName="password" placeholder="Intruduce tu contraseña">
      <mat-error class="error-message" *ngIf="(form.get('password').dirty || form.get('password').touched) && form.get('password').hasError('required')">Introduce una contraseña.</mat-error>
      <mat-error class="error-message" *ngIf="(form.get('password').dirty || form.get('password').touched) && form.get('password').hasError('minLength')">La contraseña debe tener al meno 6 caracteres.</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="password" matInput formControlName="conf_password" placeholder="Confirma tu contraseña">
      <mat-error class="error-message" *ngIf="(form.get('conf_password').dirty || form.get('conf_password').touched) && form.get('conf_password').hasError('required')">Introduce una contraseña.</mat-error>
      <mat-error class="error-message" *ngIf="(form.get('conf_password').dirty || form.get('conf_password').touched) && form.get('conf_password').hasError('minLength')">La contraseña debe tener al meno 6 caracteres.</mat-error>
    </mat-form-field>
  </form>
  <footer id="modal-footer">
    <mat-dialog-actions>
      <button mat-raised-button class="btn btn-vg" [disabled]="form.invalid" (click)="saveButton(usuario.id_user)">
        {{ modalData.actionButtonText }}
      </button>
      <button mat-raised-button class="btn btn-vg-alert" (click)="closeButton()">
        {{ modalData.cancelButtonText}}
      </button>
    </mat-dialog-actions>
  </footer>
</div>
