<br>
<div class="row">
  <h3>Valoraciones</h3>
</div>
<div class="container-fluid">
  <!-- Lista de comentarios existentes -->
	<div class="row">
		<div class="col-md-7">
      <div *ngIf="valoraciones.length == 0" >
        <h4>No hay valoraciones de este producto. ¡Sé el primero en dar su opinión!</h4>
      </div>
      <div *ngIf="valoraciones.length > 0">
        <div *ngFor="let valoracion of valoraciones">
          <div class="row justify-content-between">
            <div class="col-md-9">
              <h6 class="name-valoracion">▶ {{valoracion.nombre}}</h6>
            </div>
            <div class="col-md-3">
              <ngb-rating [rate]="valoracion.puntuacion" [readonly]="true">
                <ng-template let-fill="fill" >
                  <span *ngIf="fill === 100" class="filled">★</span>
                  <span *ngIf="fill === 0" class="notfilled">☆</span>
                </ng-template>
              </ngb-rating>
            </div>
          </div>
          <div class="row">
            <p>
              {{valoracion.comentario}}
            </p>
          </div>
        </div>
      </div>
		</div>
    <!-- Formulario de comentarios -->
		<div class="col-md-5">
      <div *ngIf="user && hasCommented == 1" class="row">
        <h3>Ya has escrito tu opinión.<br>¡Gracias por participar!</h3>
      </div>
      <div *ngIf="!user || (user && hasCommented == 0)" class="row">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="comentario">Escribe tu opinión</label>
            <textarea rows="4" class="form-control" formControlName="comentario" placeholder="Escribe algo..."></textarea>
            <div *ngIf="form.get('comentario').invalid && form.get('comentario').errors && (form.get('comentario').dirty || form.get('comentario').touched)">
              <small class="text-danger" *ngIf="form.get('comentario').hasError('required')">¡No olvides escribir tu opinión!</small>
              <small class="text-danger" *ngIf="form.get('comentario').hasError('maxlength')">Tu opinión no puede tener más de 300 caracteres</small>
            </div>
          </div>
          <div class="form-group">
            <label for="puntuacion"></label>
            <ngb-rating class="rating" [formGroup]="form" formControlName="puntuacion">
              <ng-template let-fill="fill" >
                <span *ngIf="fill === 100" class="filled">★</span>
                <span *ngIf="fill === 0" class="notfilled">☆</span>
              </ng-template>
            </ngb-rating>
            <div *ngIf="form.get('puntuacion').invalid && form.get('puntuacion').errors && (form.get('puntuacion').dirty || form.get('puntuacion').touched)">
              <small class="text-danger" *ngIf="form.get('puntuacion').hasError('required')">¡No olvides dar tu puntuación!</small>
            </div>
          </div>
          <br>
          <div class="text-right">
            <button *ngIf="user" type="submit" [disabled]="form.invalid" class="btn btn-vg" (click)="onSubmit()">Danos tu opinión</button>
            <button *ngIf="!user" type="submit" [disabled]="form.invalid" class="btn btn-vg" (click)="toLogin()">Inicia sesión para comentar</button>
          </div>
        </form>
      </div>
    </div>
	</div>
</div>
